h2 {
  text-align: center;
}
.container {
  width: 640px;
  height: auto;
  background-color: #fff;
  border-radius: 10px;
  padding: 16px;
  display: flex;
  /* justify-content: center; */
  align-items: flex-start;
  flex-direction: column;
}
.result {
  width: 100%;
  border: 1px solid #ddd;
  border-radius: 5px;
  padding: 20px 30px;
  margin-bottom: 12px;
  display: flex;
  font-size: 18px;
}
.result .final-value {
  width: 95%;
  text-align: center;
}
.result .copy-icon {
  width: 5%;
  text-align: center;
  cursor: pointer;
}
.slider-container {
  width: 100%;
  padding: 12px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.slider-container .slider {
  width: 100%;
  display: flex;
  justify-content:space-between;
  align-items: center;
  margin-bottom: 12px;
}
.slider-container .slider input{
  width: 90%;
}

.config {
  width: 100%;
  padding: 12px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
